<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.nasdanika.story" sequenceNumber="2">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.nasdanika.presentation.feature.feature.group" version="0.1.0.201702080015"/>
<repository location="http://www.nasdanika.org/products/presentation/repository"/>
</location>
</locations>
</target>
